{% extends 'base.html.twig' %}

{% block title %}Urgencia{% endblock %}

{% block body %}
    <h1>Urgencia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ urgencium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ urgencium.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ urgencium.telefono }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ urgencium.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('urgencia_index') }}">back to list</a>

    <a href="{{ path('urgencia_edit', {'id': urgencium.id}) }}">edit</a>

    {{ include('urgencia/_delete_form.html.twig') }}
{% endblock %}
