{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6">
			{{ form_row(form.nombre) }}
		</div>	
		<div class="col-md-6">
			{{ form_row(form.logo) }}
		</div>
        <div class="col-md-12">
			{{ form_row(form.telefono) }}
		</div>		
		<div class="col-md-6">
			{{ form_row(form.direccion) }}
		</div>			
        <div class="col-md-6">
			{{ form_row(form.web) }}
		</div>
        <div class="col-md-6">
			{{ form_row(form.email) }}
		</div>	
	</div>	
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.save) }}
		</div>
	</div>		
{{ form_end(form) }}
 